<div class="table-title-container"><h1>Tabla de posiciones de la Liga Profesional de Fútbol</h1></div>
<table id="posiciones">
  <thead>
    <th>POS</th>
    <th>Equipo</th>
    <th>PJ</th>
    <th>G</th>
    <th>E</th>
    <th>P</th>
    <th>GF</th>
    <th>GC</th>
    <th>DG</th>
    <th>PTS</th>
  </thead>
  <tbody>
    {{#each tableData}}
      <tr>
      <td>{{this.POS}}</td>
      <td><div class="align-center"><img src="{{this.IMG}}"></img><span>{{this.NOMBRE}}</span></div></td>
      <td>{{this.PJ}}</td>
      <td>{{this.G}}</td>
      <td>{{this.E}}</td>
      <td>{{this.P}}</td>
      <td>{{this.GF}}</td>
      <td>{{this.GC}}</td>
      <td>{{this.DG}}</td>
      <td>{{this.PTS}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>

  </tfoot>
</table>
